<div id="<%= dom_id kategorija %>" class="container my-4">
  <div class="card">
    <div class="card-header">
      Kategorijas Detaļas
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= kategorija.nosaukums %></h5>
      <p class="card-text">
        <strong>Apraksts:</strong><%= kategorija.apraksts %>
      </p>
    </div>
  </div>
</div>