<h1>Editing kategorija</h1>

<%= render "form", kategorija: @kategorija %>

<br>

<div>
  <%= link_to "Show this kategorija", @kategorija %> |
  <%= link_to "Back to kategorijas", kategorijas_path %>
</div>
