<div class="container" style="max-width: 900px;">
  <div class="card my-4">
    <div class="card-header">
      <h2>Rediģēt kategoriju</h1>
      <%= render "form", kategorija: @kategorija %>
      <br>
      <div>
        <%= link_to "Apskatīt kategoriju", @kategorija, class: 'btn btn-secondary' %>
        <%= link_to "Visas kategorijas", kategorijas_path, class: 'btn btn-secondary' %>
      </div>
