<div class="container mt-3">
  <h2>Kategorijas</h2>
</div>
<table class="table table-striped table-hover mt-3">
  <thead class="table-dark">
    <tr>
      <th>Nosaukums</th>
      <th>Apraksts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <div>
    <tbody id="kategorijas">
      <%= render 'tabulas', kategorija: @kategorijas %>
    </tbody>
  </div>
</table>
<%= link_to "Pievienot Kategoriju", new_kategorija_path, class:"btn btn-primary" %>
</div>
