<h1>Editing pamatlidzekli</h1>

<%= render "form", pamatlidzekli: @pamatlidzekli %>

<br>

<div>
  <%= link_to "Show this pamatlidzekli", @pamatlidzekli %> |
  <%= link_to "Back to pamatlidzeklis", pamatlidzeklis_path %>
</div>
