<div class="container" style="max-width: 900px;">
  <div class="card my-4">
    <div class="card-header">
      <h2>Rediģēt pamatlīdzekli</h2>
      <%= render "form", pamatlidzekli: @pamatlidzekli %>
      <br>
      <div>
        <%= link_to "Apskatīt pamatlīdzekli", @pamatlidzekli, class:"btn btn-primary"  %>
        <%= link_to "Visi pamatlīdzekļi", pamatlidzeklis_path, class:"btn btn-primary" %>
      </div>
