<div class="container mt-3">
  <h2>Pamatlīdzekļi</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nosaukums</th>
        <th>Razotajs</th>
        <th>Modelis</th>
        <th>Serijas Nummurs</th>
        <th>Kategorija</th>
        <th>Apraksts</th>
        <th>Iegades Datums</th>
        <th>Garantija</th>
        <th>Izmaksas</th>
        <th>Apskatīt</th>
        <th>Rediģēt</th>
        <th>Dzēst</th>
      </tr>
    </thead>
    <tbody>
      <% @pamatlidzeklis.each do |pamatlidzekli| %>
        <%= render 'tabulas', pamatlidzekli: pamatlidzekli %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Pievienot Pamatlīdzekli", new_pamatlidzekli_path, class:"btn btn-secondary" %>
</div>