<div class="container" style="max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
  <p>Sveiki, <%= @email %>!</p>
  <% if @resource.try(:unconfirmed_email?) %>
    <p>Mēs sazināmies ar jums, lai paziņotu, ka jūsu e-pasts tiek mainīts uz <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>Mēs sazināmies ar jums, lai paziņotu, ka jūsu e-pasts ir mainīts uz <%= @resource.email %>.</p>
  <% end %>
</div>
