<div class="container mt-4">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Sveiki, <%= @resource.email %>!</h4>
    <p>Mēs sazināmies ar jums, lai paziņotu, ka jūsu parole ir mainīta.</p>
  </div>
</div>
