<div class="container mt-4">
  <p>Sveiki, <%= @resource.email %>!</p>
  <p>Kāds ir pieprasījis saiti, lai mainītu jūsu paroli. Jūs to varat izdarīt, izmantojot saiti zemāk.</p>
  <p><%= link_to 'Mainīt manu paroli', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary' %></p>
  <p>Ja jūs šo pieprasījumu neesat veikuši, lūdzu, ignorējiet šo e-pastu.</p>
  <p>Jūsu parole netiks mainīta, līdz jūs piekļūsiet iepriekš minētajai saitei un izveidosiet jaunu.</p>
</div>
